* {
  font-family: "Abril Fatface", cursive;
}
.navbar {
  background-color: #21325e;
}

.title-row {
  text-align: center;
}

.title {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 3px;
}

.timer {
    text-align: center;
}

.start-button-row {
  text-align: center;
}

.game-button {
  height: 50px;
  width: 150px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: #b33030;
  cursor: pointer;
  border: 0;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin-top: 30px;
}

.game-button:focus {
  outline: none;
}

.game-button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.deck-row {
  padding-top: 50px;
}

.card-container {
  text-align: center;
}

.card {
  height: 200px;
  width: 150px;
  cursor: pointer;
}

.button-container {
  text-align: center;
}

.playerhand-container {
  padding-top: 50px;
  max-height: 200px;
  display: flex;
  justify-content: space-between;
}


